body {
    margin: 0;
    background: #0d1117;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin: 24px 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

/* ===== AREA DADU ===== */
.dice-area {
    display: flex;
    justify-content: center;
    gap: 36px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

/* ===== PLAYER ===== */
.player-box,
.add-wrapper {
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-input {
    background: #2ea043;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px;
    width: 100%;
    text-align: center;
    margin-bottom: 14px;
    font-weight: bold;
}

/* ===== 3D DICE ===== */
.scene {
    width: 100px;
    height: 100px;
    perspective: 700px;
}

.dice {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
}

.face {
    position: absolute;
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 16px;
    display: grid;
    padding: 12px;
    box-sizing: border-box;
    place-items: center;
}

/* posisi 3D */
.front  { transform: rotateY(0deg) translateZ(50px); }
.back   { transform: rotateY(180deg) translateZ(50px); }
.right  { transform: rotateY(90deg) translateZ(50px); }
.left   { transform: rotateY(-90deg) translateZ(50px); }
.top    { transform: rotateX(90deg) translateZ(50px); }
.bottom { transform: rotateX(-90deg) translateZ(50px); }

/* pip */
.pip {
    width: 14px;
    height: 14px;
    background: black;
    border-radius: 50%;
     box-shadow: inset 2px 2px 4px rgba(255,255,255,.4),
                inset -2px -2px 4px rgba(0,0,0,.4);
}

/* grid pola dadu asli */
.one, .two, .three, .five {
    grid-template: repeat(3,1fr) / repeat(3,1fr);
}
.four {
    grid-template: repeat(2,1fr) / repeat(2,1fr);
}
.six {
    grid-template: repeat(3,1fr) / repeat(2,1fr);
}

/* hapus */
.btnDel {
    margin-top: 14px;
    background: #da3633;
    border-radius: 8px;
    padding: 8px;
    width: 100%;
    border: none;
    color: white;
    cursor: pointer;
}

/* ===== TOMBOL + ===== */
.add-spacer {
    height: 42px;
}
.add-spacer-bottom {
    height: 46px;
}

.add-box {
    width: 100px;
    height: 100px;
    border: 3px dashed #2ea043;
    border-radius: 16px;
    color: #2ea043;
    font-size: 64px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* ===== ROLL ===== */
.roll-btn {
    padding: 18px 60px;
    font-size: 22px;
    background: #238636;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

/* ===== RANKING ===== */
.ranking-box {
    background: #161b22;
    padding: 20px;
    border-radius: 12px;
    width: 320px;
    margin: 30px auto;
}

.ranking-title {
    font-size: 22px;
    margin-bottom: 12px;
}

.rank-row {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
}

.rank-row span {
    color: #3fb950;
    font-weight: bold;
}

.hidden {
    display: none;
}
.hide-del {
    display: none;
}
.winner-modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.winner-content {
    background: #161b22;
    padding: 30px;
    border-radius: 16px;
    text-align: center;
    color: white;
}

.winner-content button {
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    background: #2ea043;
    color: white;
    cursor: pointer;
}
body {
    margin: 0;
    background: #0d1117;
    color: white;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin: 24px 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

/* ===== AREA DADU ===== */
.dice-area {
    display: flex;
    justify-content: center;
    gap: 36px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

/* ===== PLAYER ===== */
.player-box,
.add-wrapper {
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-input {
    background: #2ea043;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px;
    width: 100%;
    text-align: center;
    margin-bottom: 14px;
    font-weight: bold;
}

/* ===== 3D DICE ===== */
.scene {
    width: 100px;
    height: 100px;
    perspective: 700px;
}

.dice {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
}

.face {
    position: absolute;
    width: 100px;
    height: 100px;
    background: white;
    border-radius: 16px;
    display: grid;
    padding: 12px;
    box-sizing: border-box;
    place-items: center;
}

/* posisi 3D */
.front  { transform: rotateY(0deg) translateZ(50px); }
.back   { transform: rotateY(180deg) translateZ(50px); }
.right  { transform: rotateY(90deg) translateZ(50px); }
.left   { transform: rotateY(-90deg) translateZ(50px); }
.top    { transform: rotateX(90deg) translateZ(50px); }
.bottom { transform: rotateX(-90deg) translateZ(50px); }

/* pip */
.pip {
    width: 14px;
    height: 14px;
    background: black;
    border-radius: 50%;
     box-shadow: inset 2px 2px 4px rgba(255,255,255,.4),
                inset -2px -2px 4px rgba(0,0,0,.4);
}

/* grid pola dadu asli */
.one, .two, .three, .five {
    grid-template: repeat(3,1fr) / repeat(3,1fr);
}
.four {
    grid-template: repeat(2,1fr) / repeat(2,1fr);
}
.six {
    grid-template: repeat(3,1fr) / repeat(2,1fr);
}

/* hapus */
.btnDel {
    margin-top: 14px;
    background: #da3633;
    border-radius: 8px;
    padding: 8px;
    width: 100%;
    border: none;
    color: white;
    cursor: pointer;
}

/* ===== TOMBOL + ===== */
.add-spacer {
    height: 42px;
}
.add-spacer-bottom {
    height: 46px;
}

.add-box {
    width: 100px;
    height: 100px;
    border: 3px dashed #2ea043;
    border-radius: 16px;
    color: #2ea043;
    font-size: 64px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* ===== ROLL ===== */
.roll-btn {
    padding: 18px 60px;
    font-size: 22px;
    background: #238636;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

/* ===== RANKING ===== */
.ranking-box {
    background: #161b22;
    padding: 20px;
    border-radius: 12px;
    width: 320px;
    margin: 30px auto;
}

.ranking-title {
    font-size: 22px;
    margin-bottom: 12px;
}

.rank-row {
    display: flex;
    justify-content: space-between;
    padding: 6px 0;
}

.rank-row span {
    color: #3fb950;
    font-weight: bold;
}

.hidden {
    display: none;
}
.hide-del {
    display: none;
}
.winner-modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.winner-content {
    background: #161b22;
    padding: 30px;
    border-radius: 16px;
    text-align: center;
    color: white;
}

.winner-content button {
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    background: #2ea043;
    color: white;
    cursor: pointer;
}

.winner-modal.hidden {
    display: none;
}


